<header class="main_box">
		<div class="logo_container">
			<img src="./img/ddug-logo.png" alt="">
		</div>
		<div class="text_container">
			<div class="text"><h2>Deen Dayal Upadhyaya Gorakhpur University</h2></div>
			<div class="text iet"><h1>Institute of Engineering Technology</h1></div>
			<div class="text"><p>(Accredited A++ by NAAC)</p></div>
		</div>
	</header>