<section class="letf_side">
			<div class="logo_container">
				<img src="./img/layout.png" alt="">
			</div>
		<div>
			<a href="#">Registration</a>
			<a href="#">Course</a>
			<a href="#">Details</a>
			<a href="#">Fees Structure</a>
			<a href="#">Staff Details</a>
		</div>
			<button class="logout"><a href="/logout" style= "border: none;
        background-color: #202328;
        color: white;
        padding: 5px;
        font-size: large;">LogOut</a></button>
		</section>