<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>IET</title>
</head>

<body>
    <div class="container">
        <div class="intro">
            <div>
                <img src="/img/ddug-logo.png" alt="">
                <h2>DDUGU, <span>IET</span></h2>
            </div>
        </div>
        <form class="login_box" action="/login" method="POST">
            <div class="headText">
                <h1>Login Form</h1>
            </div>
            <div class="emailTextBox">
                <input type="text" name="emailName" id="email" placeholder="Email Address">
            </div>
            <div class="passwordBox">
                <input type="password" name="password" id="passwoord" placeholder="Password">
            </div>
            <button type="submit">LogIn</button>
        </form>
    </div>
</body>
</html>